body {
  background-color: #c6c6c6;
  color: #0c0c0c;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;  
}

.exp-header{
  text-align: center; 
  text-transform: uppercase;
  border-top: 1px solid #0c0c0c;
  border-bottom: 1px solid #0c0c0c;
  background-color: #c6c6c6;
    background: linear-gradient(90deg, rgba(27,257,57,.25) 0%, rgba(27,257,57,.5) 50%, rgba(27,257,57,1) 100%);
}

.edu-header{
  text-align: center; 
  text-transform: uppercase;
  border-top: 1px solid #0c0c0c;
  border-bottom: 1px solid #0c0c0c;
  background-color: #c6c6c6;
    background: linear-gradient(90deg, rgba(27,257,57,1) 0%, rgba(27,257,57,.5) 50%, rgba(27,257,57,.25) 100%);
}
